// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
:global {
  @import "~antd/dist/antd.css";
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese");
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Roboto-Light.ttf");
}

@import "base/mixins";
@import "base/variables";
@import "base/reset";

body {
  font-family: "Lato Light";
}
